@{
    ViewBag.Title = "About";
}
<h2>Довідкова інформація.</h2>

<h4 style="line-height: 1.5;">
    Цей веб-сайт надає засоби для проведення експертного оцінювання
    належності елементів нечіткої множини до базової множини за шкалою Сааті.
    На вкладці <a href="/Home/Index">Матриця попарних порівняннь</a>
    є можливіть побудови матриці, задавши елементи базової множини
    та експертні парні порівнння за шкалою Сааті для них.
    <br />
    У результаті буде розраховно матрицю попраних порівнянь та значення функції належності
    для обраної базової множини і її нечіткої множини.
    З отриманих значень функції належності сформовано графік.
    <br />
    Обчислення результатів відбувається автоматично, після зміни будь-якого параметру.
</h4>
