@{
    ViewBag.Title = "Тестування";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Деталі</h4>
    <hr />
    <p>
        @Html.ActionLink("У кабінет", "Index", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
    </p>
</div>
