@model Questioning.Models.IndexViewModel
@{
    ViewBag.Title = "Кабінет";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Налашутвання вашого облікового запису</h4>
    <hr />
    <p>
        @Html.ActionLink("Почати тестування", "Questioning", "Home");
    </p>
</div>
