@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблоковано";
}

<hgroup>
    <h1 class="text-danger">Заблоковано.</h1>
    <h2 class="text-danger">Ваш обліковий запис заблокований, спробуйте увійти пізніше.</h2>
</hgroup>
