body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Pagination styles */
nav {
    text-align: center;
}

.pagination > li > a.fited, .pagination > li > span.fited {
    padding: 6px 8px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    padding: 6px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    padding: 6px;
}
.pagination > li > a.dots, .pagination > li > span.dots {
    padding: 6px;
}

